* {
    margin: 0;
    padding: 0;
}
.panel{
    background-color: rgba(128, 128, 128, 0.5);
    width: 10vw;
    height: 15vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 40px;
    right: 10px;
    
}
.boton{
    background: #0097e6;
    color: white;
    padding: 3% 1%;
    text-align: center;
    font-weight: 600;
    width: 90%;
    margin: 5% 5% 0 5%;
    outline: none;
    border: none;
    border-radius: 2px;
    text-decoration: none;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.boton:hover{
    background-color: #273c75;
    text-decoration: none;
}
.boton:active{
    background-color: black;
}

.joystick {
    width: 200px;
    height: 200px;
    border: 2px solid #333;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.handle {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}